.main-container{
    width:500px;
    height:auto;
    margin:40px auto;
    padding:20px;
    border-radius: 10px;
    border: solid 3px #66AAFF;
}
.label_content{
    width:150px;
    text-align:right;
    margin:auto 15px;
    padding:1px 1px 1px 1px;
    float:left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.input_content{
    width:auto;
    float:left;
    margin:auto 15px auto 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.item_content{
    width:inherit;
    height:50px;
    margin:10px 0px 10px 0px;
}
#submitBtn{
    margin:auto auto auto 190px;
    width:100px;
    height:30px;
    background-color:#66AAFF;
    color:#FFFFFF;
    border:1px solid #444444;
    border-radius: 10px;
}
#submitBtn:hover{
    background-color:#4488EE;
}